In [2]:
import sqlite3

In [4]:
connection = sqlite3.connect('classroomDB.db')

In [5]:
connection.close()

In [6]:
connection = sqlite3.connect('classroomDB.db')
cursor = connection.cursor()
create_tbl = """
             create table classroom (
                 student_id integer primary key,
                 name varchar(40),
                 gender char(1),
                 physics_marks integer,
                 chemistry_marks integer,
                 maths_marks integer
             );"""

cursor.execute(create_tbl)
connection.commit()
connection.close()

In [18]:
classroom_data = [( 1, "Anand", 23, 99, 99, 100 ),
                  ( 2, "Aman", 14, 100, 100, 100 ),
                  ( 3, "Anuj", 18, 100, 99, 99 ),
                  ( 4, "Arun", 25, 60, 60, 60 )]

connection = sqlite3.connect('classroomDB.db')
cursor = connection.cursor()
for student in classroom_data:
    query = "insert into classroom values ({0}, '{1}', '{2}', {3}, {4}, {5});".format(student[0], student[1], student[2], student[3], student[4], student[5])
    cursor.execute(query)

connection.commit()
connection.close()

In [20]:
connection = sqlite3.connect('classroomDB.db')
cursor = connection.cursor()
query = "select * from classroom"
cursor.execute(query)
result = cursor.fetchall()
for row in result:
    print(row)
    
connection.close()

(1, 'Anand', '23', 99, 99, 100)
(2, 'Aman', '14', 100, 100, 100)
(3, 'Anuj', '18', 100, 99, 99)
(4, 'Arun', '25', 60, 60, 60)

In [22]:
!conda install -y -q pymysql

Package plan for installation in environment /home/anand/anaconda3:

The following NEW packages will be INSTALLED:

    certifi:    2019.3.9-py36_0
    libgcc-ng:  8.2.0-hdf63c60_1
    pymysql:    0.9.3-py36_0
    pysocks:    1.6.8-py36_0
    urllib3:    1.24.2-py36_0

The following packages will be UPDATED:

    chardet:    2.3.0-py36_0                 --> 3.0.4-py36_1
    conda:      4.3.34-py36_0    conda-forge --> 4.6.14-py36_0
    conda-env:  2.6.0-0          conda-forge --> 2.6.0-1
    idna:       2.2-py36_0                   --> 2.8-py36_0
    pycosat:    0.6.1-py36_1                 --> 0.6.3-py36h14c3975_0
    requests:   2.12.4-py36_0                --> 2.21.0-py36_0
    setuptools: 27.2.0-py36_0                --> 41.0.1-py36_0

In [24]:
import pymysql

In [26]:
connection = pymysql.connect('http://localhost:3306', 'root', 'root', 'postgres')

OperationalError: (2003, "Can't connect to MySQL server on 'http://localhost:3306' ([Errno -2] Name or service not known)")